body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1.5s ease-out forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    text-align: center;
    margin: 0;
    background-color: tomato;
    padding: 20px;
    color: white;
}

h2 {
    background-color: lightblue;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(45, 47, 46);
    overflow: hidden;
}

.navbar li {
    float: inline-start;
}

.navbar a {
    text-decoration: none;
    color: rgb(71, 147, 214);
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(226, 217, 217);
    color: rgb(0, 0, 0);
    border-block-end: 5px solid rgb(234, 142, 36);
    border-radius: 20px;
}

.navbar {
    position: sticky;
    inset-block-start: 0;
    inline-size: 100%;
    background-color: rgb(45, 251, 148);
    z-index: 10;
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(45, 251, 148);
    min-inline-size: 160px;
    z-index: 1;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

main {
    margin: 30px 20px;
    background-attachment: fixed;
}

main:hover {
    color: rgb(0, 0, 0);
}

p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.social-icons {
    display: flex;
    margin-block-start: 20px;
    background-color: rgba(61, 52, 57, 0.8);
    padding: 40px;
    justify-content: center;
    gap: 15px;
}

.social-icons i {
    color: white;
    font-size: 24px;
    padding: 12px;
    border-radius: 8px;
    transition: transform 0.8s;
}

.social-icons i:hover {
    transform: scale(1.1);
}

.fa-facebook-f { background-color: blue; }
.fa-twitter { background-color: rgb(104, 104, 229); }
.fa-instagram { background-color: red; }
.fa-linkedin-in { background-color: rgb(0, 119, 181); }
.fa-youtube { background-color: rgb(255, 0, 0); }
