body{
    margin:0;
    background-color: #800000;
    border:0px;
}
h1{
    text-align: center;
    margin: 0% auto;
    background-color: rgb(252, 98, 98);
}
.navbar ul{
        list-style-type: none;
        background-color:rgb(68, 55, 58);
        overflow:hidden;
        padding:0;
        margin:0;
        font-display: swap;
}
main{
    margin: 30px;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
    
}
main :hover{
    color: rgb(59, 36, 36);
}
.navbar a{
    text-decoration: none;
    color:rgb(48, 129, 200);
    padding: 20px;
    display:block;
    justify-content: flex-start;
}
.navbar a:hover{
    background-color: rgb(43, 22, 22);
    color: rgb(187, 213, 227);
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    z-index: 1;

}
.navbar li{
    margin-inline-end: 20px;
    float: inline-start;
    padding:15px;
}

.navbar{
    margin:0% auto;
    position:sticky;
    top : 0;
    justify-content: safe;
}
img{
    border-radius:30px/50px;
    overflow: hidden;
    inline-size: 30%;
    position:static;

}
.effect-blur img {
    filter: blur(1px);
    transition: filter 10s ease;
}

.map-container {
    font-size: 24px;
    font-weight: normal;
    margin: 20px 0;
    text-align: center;
}
#search{
    inline-size: 100%;
    text-align: center;
    padding: 10px;
    border: 5px solid rgb(227, 190, 56);
    border-radius: 20px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}
.info {
    background: rgb(255, 18, 18);
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-block-end: 20px;
    text-align: start;
    inline-size: 90%;
    margin-inline-end: 800px;
    }
    .info p {
    margin: 10px 0;
    font-size: 18px;
    }
    .info i {
    color: red;
    margin-inline-end: 10px;
    }
    .link{
        text-align: justify;
        border: 10px solid transparent;
        background-color: aliceblue;
    }
    .contact{
        text-align: center;
        margin: 100px 0;
        background: rgb(212, 145, 191);
        padding:20px;
        border-radius: 12px;
        inline-size: 60%;
    }
    .name{
        border: 2px solid rgb(227, 190, 56);
        border-radius: 20px;
        padding: 10px;
        font-family: Arial, sans-serif;
    }
    .email{
        border: 2px solid rgb(227, 190, 56);
        border-radius: 20px;
        padding: 10px;
        font-family: Arial, sans-serif;
    }
    .message{
        border: 2px solid rgb(227, 190, 56);
        border-radius: 20px;
        padding: 20px;
        padding-inline-start: 10px;
        font-family: Arial, sans-serif;
    }
    button{
        text-align: center;
        background: rgb(5, 4, 11);
        margin: auto;
        border:none;
        color:white;
        padding:10px 20px;
        inline-size:40%;
        border-color: black;
        border-radius: 10px;
        cursor:pointer;
        border-width: 100px;
        align-items: center;
        padding: 10px 20px; 
        display: block;

    }
    button:hover{
        background-color: rgb(200, 142, 142);
        color: rgb(0, 0, 0);
        border-block-end: 2px solid rgba(234, 142, 36, 0.108);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        transform-style: preserve-3d;
        transition-delay: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .header{
    text-align: center;
    background-color: rgb(109, 89, 243);
    margin: 10px;
    color:white;
    border-radius: 20px;
    inline-size: 100%;
    }
    footer{
        margin: 10px;
        color:white;
        border-radius: 20px;
        padding: 5px;
        background-color: rgb(41, 33, 30);
        inset-inline-end: 0;
        position: relative;
        z-index: 1;
        flex-direction: column;
        display:flex;

    }
